menu "RPM sensors"
    menuconfig COMMON_DRIVERS_RPM
        bool "Common RPM Drivers"
        default n
        select DRIVERS_RPM_HOLYBRO_RPM
        ---help---
            Enable default set of RPM sensor drivers

    rsource "*/Kconfig"
endmenu
